<?xml version="1.0" encoding="UTF-8"?>
<templates>
    <t t-extend="Menu">
        <t t-if="widget.modelName == 'hr.employee.public'">
            <t t-jquery="[data-menu-xmlid=hr.menu_hr_employee_payroll]">
              <script>
                console.log(this)
              </script>
            </t>
        </t>
    </t>
</templates>