.o_search_panel {
    resize: horizontal;
    overflow: auto;
    flex: none !important;
}

.o_required_modifier.o_input, .o_required_modifier .o_input {
    background-color: white !important;
}

.o_list_button_add {
    width: 7em;
}
.o_language_toggle_menu_item {
    height: 46px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.o_language_toggle_button {
    border-radius: 5px;
    background-color: black;
    border: 0;
    color: white;
    padding: 5px;
}

.o_language_toggle_button:hover {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  
