.o_search_panel {
    resize: horizontal;
    overflow: auto;
    flex: none !important;
}

.o_required_modifier.o_input, .o_required_modifier .o_input {
    background-color: white !important;
}

.nav-black {
  background-color: black;
}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
  background-color: rgba(90, 90, 90, 0.7);
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
  background-color: rgba(90, 90, 90, 0.7);
}

.o_main_navbar .show .dropdown-toggle {
  background-color: rgba(90, 90, 90, 0.7);
}

.breadcrumb-item {
  color: #335075 !important;
}

.breadcrumb-item > a {
  color: #335075 !important;
}

.o_field_widget {
  color: #335075 !important;
}

.o_field_widget > span {
  color: #335075 !important;
}

.nav-item > a {
  color: #335075 !important;
}

.navitem.show > a {
  color: #335075 !important;
}

.o_horizontal_separator {
  color: #335075 !important;
}

.o_controller_with_searchpanel .o_search_panel .o_search_panel_category .o_search_panel_section_icon {
  color: black;
}

.btn-primary {
  color: #FFFFFF;
  background-color: black;
  border-color: black;
}

.btn-primary:hover {
  color: #FFFFFF;
  background-color: rgba(90, 90, 90, 0.7);
  border-color: rgba(90, 90, 90, 0.7);
}

.o_language_toggle_menu_item {
    height: 46px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.o_language_toggle_button {
    border-radius: 5px;
    background-color: black;
    border: 0;
    color: white;
    padding: 5px;
}

.o_language_toggle_button:hover {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.o_team_name {
  display: block;
  margin-right: 35px;
  user-select: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 46px;
  float: right;
  cursor: auto;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  
